.tile{
    height: 30vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.tile img{
    height: 8vh;
    width: 10vw;
    background-size:contain;
}
.tile div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 22vh;
    width: 60vw;
    border: 2px solid green;
    /* margin: 0; */
}
.tile-texts{
    margin: 0;
}